* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  outline: none;
  border: none;
  font-family: 'Inconsolata';
}

html {
  background-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
}

/* Navbar */
nav {
  display: flex;
  justify-content: space-between;
  padding: 1rem 5%;
  align-items: center;
  position: absolute;
  right: 0;
  left: 0;
}

nav .logo h1 {
  font-size: 2.6rem;
  font-weight: 800;
}

nav .logo h1 span {
  color: #8a2be2;
}

#menu,
label {
  display: none;
}

nav ul li {
  display: inline;
  padding: .6rem;
  font-size: 1.2rem;
}

nav ul li a {
  color: black;
}

nav ul li:hover {
  background-color: rgb(207, 167, 245);
  padding: .6rem;
  border-radius: 4px;
}

/* Section Hero */
.hero {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
}

.hero .row-left h2 {
  font-size: 4rem;
}

.hero .row-left h2 span {
  color: blueviolet;
}

.hero .row-left p {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  width: 80%;
}

.hero .row-left button {
  font-size: 1.2rem;
  padding: .9rem;
  color: aliceblue;
  background-color: #8a2be2;
  border: 1px solid rgba(255, 255, 255, 0.397);
  cursor: pointer;
  border-radius: 8px;
}

.hero .row-left button a {
  color: white;
}

.hero .row-left button:hover {
  background-color: rgb(121, 38, 199);
}

.hero .row-right img {
  object-fit: cover;
  width: 30rem;
  transform: translateY(0);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-20px);
  }

  100% {
    transform: translatey(0px);
  }
}


/* About Section */

.about {
  padding: 6rem 3rem;
  background-color: rgb(240, 225, 253);
}

.about .about-title h1,
.produk .produk-title h1,
.kontak .kontak-title h1 {
  font-size: 2.3rem;
  text-align: center;
}

.about .about-title h1 span,
.produk .produk-title h1 span,
.kontak .kontak-title h1 span {
  color: blueviolet;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 8%;
}

.about-content img {
  object-fit: cover;
  width: 40%;
  transform: translateY(0);
  animation: float 6s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translatey(0px);
  }

  50% {
    transform: translatey(-10px);
  }

  100% {
    transform: translatey(0px);
  }
}

.about .about-content .about-info p {
  font-size: 1.8rem;
}

/* Produk Kami */
.produk {
  padding: 6rem .4rem;
}

.produk .produk-content {
  padding: 6rem 0;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.produk .produk-content .card .card-info {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1.6rem;
  background-color: rgb(233, 211, 255);
  align-items: center;
}

.produk .produk-content .card .card-info p {
  width: 11rem;
}

.produk .produk-content .card {
  box-shadow: -1px -1px 10px rgba(137, 43, 226, 0.425);
}

.produk .produk-content .card img {
  width: 20rem;
}

.produk .card button {
  font-size: 1.5rem;
  padding: 4px 8px;
  border: 1px solid rgba(137, 43, 226, 0.315);
  cursor: pointer;
  border-radius: 3px;
}

.produk .card button:hover {
  background-color: blueviolet;
}

/* kontak Section */
.kontak {
  background-color: rgb(228, 216, 255);
  padding: 6rem 0;
}

.kontak .kontak-form {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.kontak .kontak-form form {
  width: 60rem;
  padding: 3rem;
  background-color: rgb(219, 204, 255);
  border-radius: 10px;
  box-shadow: -1px -1px 20px rgba(137, 43, 226, 0.226);
}

.kontak .kontak-form .kontak-input {
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin: .9rem 0;
  border: 1px solid rgb(235, 225, 255);
  border-radius: 5px;
}

.kontak .kontak-form .kontak-input:hover {
  border: 1px solid #8a2be2;
}

.kontak .kontak-form .kontak-input input {
  width: 90%;
  padding: 1.3rem;
  background: none;
  border: none;
  font-size: 1.1rem;
}

textarea {
  width: 90%;
  padding: 1.3rem;
  background: none;
  border: none;
  font-size: 1.1em;
  background: none;
  outline: none;
  resize: none;
  line-height: 1.5;
}

.icon-pesan {
  margin-bottom: 14.6rem;
  color: #892be244;
}

.icon {
  color: #892be244;
}

.kontak .kontak-form .kontak-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.kontak .kontak-form .kontak-btn button {
  background-color: #8a2be2;
  border: 1px solid rgba(255, 255, 255, 0.397);
  color: white;
  padding: 1rem;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 8px;
}

.icon-sosial {
  color: #8a2be2;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  border-radius: 10px;
  margin-right: .5rem;
}

.kontak .kontak-form .kontak-btn button:hover {
  background-color: rgb(121, 38, 199);
  transform: translateY(-3px);
}

.icon-sosial:hover {
  transform: translatey(-7px);
  box-shadow: 0 10px 8px rgba(0, 0, 0, 0.2);
}

/* Footer Section */
.footer {
  background-color: #8a2be2;
  padding: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: antiquewhite;
}

.footer p a {
  color: black;
}

/* Responsive */

/* Tablet */
@media (max-width : 1024px) {
  html {
    font-size: 78%;
  }

  .hero {
    flex-wrap: wrap-reverse;
    justify-content: center;
  }

  .hero .row-left {
    margin-top: -30rem;
  }

  .hero .row-right img {
    width: 25rem;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 70%;
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
  }

  nav ul {
    display: block;
    position: absolute;
    text-align: center;
    width: 100%;
    right: 0;
    top: -100rem;
    background-color: #892be22d;
    transition: all .5s ease-in-out;
  }

  nav ul li {
    display: block;
    padding: 1.9rem 0;
    font-size: 1.5rem;
  }

  nav ul li:hover {
    padding: 1.9rem;
    background: none;
  }

  nav ul li a:hover {
    color: #8a2be2;
  }

  label {
    display: block;
  }

  #menu:checked~ul {
    top: 4.3rem;
  }

  /* About Responsive */
  .about-content {
    padding: 5rem 0 0;
    flex-wrap: wrap;
  }

  .about-content img {
    width: 25rem;
  }

  .about .about-content .about-info {
    padding: 3rem 0 0;
  }

  .about .about-content .about-info p {
    font-size: 1.5rem;
  }

  /* kontak responsive */
  .kontak .kontak-form form {
    width: 100rem;
  }

  /* Produk Section Responsive */

  .produk .produk-content .card {
    width: 18rem;
    overflow: hidden;
  }

  .produk .produk-content .card img {
    width: 17rem;
  }
}

/* Handphone */
@media (max-width: 480px) {



  .produk .produk-content .card .card-info {
    font-size: 1.1rem;
  }

  .kontak .kontak-form form {
    padding: 1rem 10px;
  }

  .kontak .kontak-form {
    padding: 3rem 10px;
  }
}

@media (max-width: 350px) {
  .produk .produk-content .card {
    width: 16.6rem;
    overflow: hidden;
  }

  .produk .produk-content .card img {
    width: 16rem;
  }

  .kontak .kontak-form form {
    padding: 0;
  }

  .kontak .kontak-form {
    padding: 3rem 10px;
  }
}